In [17]:
import pandas as pd
import numpy as np
column_names = ['user_id','item_id','rating','timestamp']
df = pd.read_csv('/home/mali/RecommendationEngine/data/external/ml-100k/u.data',sep = '\t', names = column_names)

In [18]:
movie_titles = pd.read_csv('https://raw.githubusercontent.com/Shashank545/Recommendation-System-ML-/master/Movie_Id_Titles', sep = ',')
movie_titles.head(3)

   item_id              title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)

In [19]:
df = pd.merge(df,movie_titles,on='item_id')
df

,user_id,item_id,rating,timestamp,title
0,196,242,3,881250949,Kolya (1996)
1,63,242,3,875747190,Kolya (1996)
2,226,242,5,883888671,Kolya (1996)
3,154,242,3,879138235,Kolya (1996)
4,306,242,5,876503793,Kolya (1996)
...,...,...,...,...,...
99995,840,1674,4,891211682,Mamma Roma (1962)
99996,655,1640,3,888474646,"Eighth Day, The (1996)"
99997,655,1637,3,888984255,Girls Town (1996)
99998,655,1630,3,887428735,"Silence of the Palace, The (Saimt el Qusur) (1..."
99999,655,1641,3,887427810,Dadetown (1995)

In [22]:
n_users = df['user_id'].nunique()
n_items = df['item_id'].nunique()

In [25]:
from sklearn.model_selection import train_test_split
train_data, test_data = train_test_split(df, test_size =.25)