In [16]:
import pandas as pd
metadata = pd.read_csv('/home/mali/RecommendationEngine/data/external/movies_metadata.csv',low_memory=False)

In [17]:
metadata.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

In [18]:
metadata.shape

(45466, 24)

WeightedRating(WR)=((v/v+m)⋅R)+((m/v+m)⋅C)

In the above equation,

    v is the number of votes for the movie;

    m is the minimum votes required to be listed in the chart;

    R is the average rating of the movie;

    C is the mean vote across the whole report.

In [19]:
C = metadata['vote_average'].mean()
print(C)

5.618207215134185

In [20]:
m = metadata['vote_count'].quantile(.9)
print(m)

160.0

In [21]:
q_movies = metadata.copy().loc[metadata['vote_count']>=m]
q_movies.shape

(4555, 24)

In [22]:
def weighted_average(x,m=m,C=C):
    v = x['vote_count']
    R = x['vote_average']
    return (v / (v + m) * R) + (m / (v + m) * C)

In [23]:
q_movies['score'] = q_movies.apply(weighted_average,axis=1)

In [24]:
q_movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,score
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,7.640253
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,6.820293
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,5.660700
5,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,7.537201
8,False,NaN,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,64350171.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0,5.556626

In [25]:
q_movies = q_movies.sort_values('score',ascending=False)
q_movies[['title','vote_average','vote_count','score']].head(15)

                                 title  vote_average  vote_count     score
314           The Shawshank Redemption           8.5      8358.0  8.445869
834                      The Godfather           8.5      6024.0  8.425439
10309      Dilwale Dulhania Le Jayenge           9.1       661.0  8.421453
12481                  The Dark Knight           8.3     12269.0  8.265477
2843                        Fight Club           8.3      9678.0  8.256385
292                       Pulp Fiction           8.3      8670.0  8.251406
522                   Schindler's List           8.3      4436.0  8.206639
23673                         Whiplash           8.3      4376.0  8.205404
5481                     Spirited Away           8.3      3968.0  8.196055
2211                 Life Is Beautiful           8.3      3643.0  8.187171
1178            The Godfather: Part II           8.3      3418.0  8.180076
1152   One Flew Over the Cuckoo's Nest           8.3      3001.0  8.164256
351                       Forrest Gump           8.2      8147.0  8.150272
1154           The Empire Strikes Back           8.2      5998.0  8.132919
1176                            Psycho           8.3      2405.0  8.132715

CONTENT-BASED RECOMMENDER

In [26]:
metadata['overview'].head(3)

0    Led by Woody, Andy's toys live happily in his ...
1    When siblings Judy and Peter discover an encha...
2    A family wedding reignites the ancient feud be...
Name: overview, dtype: object

In [27]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(stop_words='english')
metadata['overview'] = metadata['overview'].fillna('')

In [28]:
tfidf_matrix = tfidf.fit_transform(metadata['overview'])
tfidf_matrix.shape

(45466, 75827)

In [29]:
from sklearn.metrics.pairwise import linear_kernel

cosine_sim = linear_kernel(tfidf_matrix,tfidf_matrix)

In [30]:
cosine_sim.shape

(45466, 45466)

In [31]:
indices = pd.Series(metadata.index, index = metadata['title']).drop_duplicates()
indices[:10]

title
Toy Story                      0
Jumanji                        1
Grumpier Old Men               2
Waiting to Exhale              3
Father of the Bride Part II    4
Heat                           5
Sabrina                        6
Tom and Huck                   7
Sudden Death                   8
GoldenEye                      9
dtype: int64

In [32]:
def get_recommendations(title, cosine_sim=cosine_sim):

    idx = indices[title]
    #print(idx)
    sim_scores = list(enumerate(cosine_sim[idx]))
    #print(sim_scores)
    sim_scores = sorted(sim_scores, key = lambda x : x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    movie_indices = [i[0] for i in sim_scores]
    return metadata['title'].loc[movie_indices]

In [33]:
get_recommendations('The Godfather')

1178               The Godfather: Part II
44030    The Godfather Trilogy: 1972-1990
1914              The Godfather: Part III
23126                          Blood Ties
11297                    Household Saints
34717                   Start Liquidation
10821                            Election
38030            A Mother Should Be Loved
17729                   Short Sharp Shock
26293                  Beck 28 - Familjen
Name: title, dtype: object

In [34]:
credits = pd.read_csv('/home/mali/RecommendationEngine/data/external/credits.csv')
keywords = pd.read_csv('/home/mali/RecommendationEngine/data/external/keywords.csv')

In [35]:
metadata = metadata.drop([19730, 29503, 35587])

In [36]:
credits['id'] = credits['id'].astype('int')
keywords['id'] = keywords['id'].astype('int')
metadata['id'] = metadata['id'].astype('int')

In [37]:
metadata = metadata.merge(credits, on = 'id')
metadata = metadata.merge(keywords,on = 'id')

In [95]:
metadata.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew,keywords
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."

In [104]:
metadata['keywords'].loc[0:1,]

0    0        [{'id': 931, 'name': 'jealousy'}, {'i...
1    0        [{'id': 931, 'name': 'jealousy'}, {'i...
Name: keywords, dtype: object

In [105]:
import ast 
from ast import literal_eval

features = ['keywords']

for feature in features:
    metadata[feature] = str(metadata[feature].replace('[' ,'').replace(']',''))
    metadata[feature] = ast.literal_eval(metadata[feature])

ValueError: malformed node or string: 0        0        0        [{'id': 931, 'name': 'jealou...
1        0        0        [{'id': 931, 'name': 'jealou...
2        0        0        [{'id': 931, 'name': 'jealou...
3        0        0        [{'id': 931, 'name': 'jealou...
4        0        0        [{'id': 931, 'name': 'jealou...
                               ...
46623    0        0        [{'id': 931, 'name': 'jealou...
46624    0        0        [{'id': 931, 'name': 'jealou...
46625    0        0        [{'id': 931, 'name': 'jealou...
46626    0        0        [{'id': 931, 'name': 'jealou...
46627    0        0        [{'id': 931, 'name': 'jealou...
Name: keywords, Length: 46628, dtype: object

In [50]:
import numpy as np

def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [49]:
metadata['feature'].head(3)

KeyError: 'feature'